.searchBar {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.searchBar__input {
  width: 30%;
  height: 2rem;
}
.searchBar__input:hover {
  border: 2px solid #4040da;
}
.searchBar__submit {
  width: 8%;
  font-size: 1.1rem;
}
.searchBar__submit:hover {
  border: 2px solid #4040da;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #4040da;
  border-radius: 12px;
  padding: 10px;
  margin: 15px;
}
.card__image {
  width: 30%;
  height: 75%;
  border-radius: 8px;
  transition: transform 0.2s;
}
.card__image:hover {
  transform: scale(1.1);
}
.card__title {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
.card__author {
  font-size: 1.3rem;
  color: green;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  justify-content: center;
}

img {
  width: 150px;
  height: 200px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 3rem;
  left: 0;
  bottom: 0;
  background-color: gray;
  color: white;
  text-align: center;
}

.header {
  text-align: center;
  margin-top: 4rem;
}
.header__h1 {
  font-size: 3rem;
}
.header__h2 {
  font-size: 2rem;
  color: #4040da;
}
