.header {
  text-align: center;
  margin-top: 4rem;
}
.header__h1 {
  font-size: 3rem;
}
.header__h2 {
  font-size: 2rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.searchBar__input {
  width: 30%;
  height: 2rem;
  border-radius: 10px;
}
.searchBar__submit {
  margin-left: 0.2rem;
  border-radius: 10px;
  width: 8%;
  font-size: 1.1rem;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #070505;
  width: 22%;
}
