.searchBar {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.searchBar__input {
  width: 30%;
  height: 2rem;
}
.searchBar__input:hover {
  border: 1px solid aquamarine;
}
.searchBar__submit {
  width: 8%;
  font-size: 1.1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a09e9e;
  border: 3px solid #09dd85;
  border-radius: 12px;
  padding: 10px;
  margin: 15px;
}
.card__image {
  width: 30%;
  height: 75%;
  border-radius: 8px;
}
.card__title {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
.card__author {
  font-size: 1.3rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  justify-content: center;
}

img {
  width: 150px;
  height: 200px;
}

.header {
  text-align: center;
  margin-top: 4rem;
}
.header__h1 {
  font-size: 3rem;
}
.header__h2 {
  font-size: 2rem;
}
