@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  justify-content: center;
}
