.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 15rem; /* Full width */
    height: 15rem;

    &__content {
        
    }
}